      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      /* Custom container */
      .wrapper {
        margin: 0 auto;
        max-width: 800px;
      }
      .wrapper > hr {
        margin: 30px 0;
      }
      .caret-white {
        border-top-color: white !important;
        border-bottom-color: white !important;
      }
      .caret-black {
        border-top-color: black !important;
        border-bottom-color: black !important;
      }
      .dropdown-menu li > a:hover,
      .dropdown-menu li > a:focus,
      .dropdown-submenu:hover > a {
        background-image: none;
        background-color: #51a451;
      }
      .nav-tabs-header {
        padding: 8px;
        font-weight: normal;
      }

      .content {
        margin: 40px 0;
        text-align: center;
      }
      .content > h4 {
        text-align: left;
        font-weight: normal;
      }

      .param-group-title {
        margin-left: 0px;
        text-align: left;
        border-bottom: 2px solid #c3c3c3;
      }
      .param {
        text-align: left;
        padding-top: 15px;
        margin-left: 0px;
        border-bottom: 1px dotted #c3c3c3;
      }
      .param-value {
        text-align: right;
      }
      a.action-link {
        cursor: pointer;
        text-decoration: none;
        border-bottom: 1px dotted;
      }
      .submit-buttons {
        padding-top: 15px;
      }
      .param-value input.input-number {
        text-align: right;
      }

      .form-horizontal {
        text-align: left;
      }
      .error-message {
        visibility: hidden;
      }
      .forgot {
        margin-left: 16px;
      }

      .footer {

      }
      .footer > p {
          font-size: 13px;
      }
